.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 96px;
  height: 100px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  transition: all .2s ease-in-out;
  background: var(--color-black);
}

.logoContainer {
  display: flex;
  max-width: 300px;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 140px;
  flex: 1;
}

.logoText {
  flex: 1;
  color: var(--color-blue);
  text-transform: uppercase;
}

.link {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: var(--color-grey);
  }
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
}

.linksRight {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  gap: 40px;
}

.linksLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticketButton {
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding: 10px 32px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: var(--color-yellow-light);
  }
}

.socialIcon {
  margin-right: 0;
}