.band {
  box-sizing: border-box;
  margin-bottom: 16px;
}

.bandName {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
  text-transform: uppercase;
}

.bandDescription {
  font-size: 16px;
  margin-bottom: 12px;
}

.bandSocials {
  display: flex;
  gap: 8px;
}

.socialIcon {
  width: 40px;
}

@media (max-width: 768px) {
  .band {
    margin-bottom: 0;
  }
  .bandName {
    font-size: 18px;
  }

  .bandDescription {
    font-size: 14px;
  }
}