#root {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.35;
  font-weight: 400;
  --color-white: #fff;
  --color-grey: #e1e5e8;
  --color-black: #231917;
  --color-blue: #2f5eec;
  --color-yellow: #f3e338;
  --color-yellow-light: #f7e96a;
  --color-red: #ee2420;
  --color-red-light: #f7a0a0;
}

/* RESET STYLES */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CUSTOM GLOBAL STYLES */


strong {
  font-weight: 500;
}

body {
  font-family: 'ABCMarfa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;

  background-color: var(--color-main-0);
  color: var(--color-main-500);
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  color: inherit;
  transition: all 0.1s ease;
  &:hover {
    color: var(--color-accent-800);
  }
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--color-main-500);
}

th {
  text-align: left;
}

th,
td {
  vertical-align: top;
  padding: 16px 20px;
  border: 1px solid var(--color-main-500);
}
